<section class="wrapper" ng-controller="setPasswordController">
   	<h3><i class="fa fa-angle-right"></i>Player Information</h3>
        <div class="row mt" ng-show="showCounter" ng-init="showCounter = true">
            <div class="col-lg-12">
                <div class="form-panel">
                    <form class="form-horizontal style-form" name="playerForm" novalidate>
                    <h4 class="mb"><i class="fa fa-angle-right"></i>Account Setting</h4>
                    <div class="form-group" ng-class="playerForm.counter.$dirty &&  !teamForm.counter.$valid? 'has-error': ''">
                            <label class="col-sm-2 col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" ng-model="password" name="password" required placeholder='Password'>
                                <input type="password" class="form-control" ng-model="confirmPassword" name="confirmPassword" required placeholder='Confirm Password'>
                                <span class="help-block">Please setting your password</span>
                                <span class="help-block" ng-show="teamForm.counter.$dirty && !teamForm.counter.$valid ">Password is not allowed empty</span>
                            </div>                            
                        </div>                                                                        
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt" ng-show="showForm" >            
            <div class="col-lg-12">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="button" class="btn btn-theme" value="Register my team" ng-click="registerMyTeam()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</section>